<div class="row">
    <div class="">
        <div class="card col-sm-3 shadow-lg p-3"  style="background-color:lavenderblush">
            <img class="propImg" src="assets/images/HouseClipartOne.jpg">
                <div class="card-body p-2" style="background-color: lavender;">
                    <!-- string interpolation -->
                    <h1>{{Property.Type}}</h1>
                    <h1>{{Property.price}}</h1>
                    <h1>{{Property.id}}</h1>
                    <h1>{{Property.Name}}</h1>
                    <!-- string interpolation -->
                </div>
        </div>
    </div>
</div>